body {
  background: #a7aaad;
}

.card {
  border-radius: 10px;
  
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item.completed span {
  text-decoration: line-through;
  color: gray;
}
.container{
    text-align: center;
    margin-top: 100px;
    
}